<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
    <link rel="stylesheet" href="/form.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu"></div>
<div id="content">
    <p th:if="${info}" th:text="${info}" class="error"></p>
    <div id="form">
        <div class="row">
            <form action="#" method="post" id="add-form">
                <label>Nazwa specjalizacji: </label>
                <input type="text" th:field="*{speciality.specialityName}" id="title" placeholder="Nazwa specjalizacji"><br>
                <input type="submit" value="Dodaj">
                <input type="button" onclick="history.back();" value="Wróć">
            </form>
    </div>
</div>
</div>
</div>
</body>
</html>