<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu"></div>
<div id="content">
    <a href="/admin/patients" class="edit-button">Przeglądaj pacjentów</a>
    <a href="/admin/addpatient"class="edit-button">Dodaj nowego pacjenta</a>
    <br><br>
    <a href="/admin/doctors" class="edit-button">Przeglądaj lekarzy</a>
    <a href="/admin/adddoctor"class="edit-button">Dodaj nowego lekarza</a>
    <br><br>
    <a href="/admin/specialities"class="edit-button">Przeglądaj specjalizacje</a>
    <a href="/admin/addspeciality"class="edit-button">Dodaj nową specjalizację</a>
    <br><br>
</div>
    <div id="footer" th:replace="fragments.html :: footer" ></div>
</div>
</body>
</html>