html {
    font-size: 60%;
}
body {
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #4e4b4b;
    background: #0250c5;
    position: relative;
}
#page{
    min-height: 100vh;
    background: white;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 95%;
}
#logo  {
    height: 10%;
    text-align: center;
    padding: 24px 0;
}
#menu{
    background: #157fda;
    display: block;
    margin: 0 auto;
    margin-bottom: 1px;
    padding: 1px;
    text-align: center;
    font-size: 21px;
}
#content{
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 90%;
    text-align: left;
    font-size: 16px;
    padding: 5px;
    min-height: 30vh;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0099ff;
    color: white;
    text-align: center;
    min-height: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px 0;
}
#error {
    color: red;
    font-size: 21px;
    text-align: center;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.imglogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:4px;
    width:40%;
}
.photo-profile, .account-info{
    margin: 5px auto;
    padding: 5px;
    display: inline-block;
}
.photo-profile{
    background-color: white;
}
.error{
    text-align: center;
    font-size: 20px;
    color: red;
}
.success{
    text-align: center;
    font-size: 20px;
    color: #1fa709;
}
.schedule{
    display: inline-block;
    float: right;
}
label {
    display: inline-block;
    width: 25%;
}