.row {
    border-collapse: collapse;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
}
.row:nth-child(2n){
    background: #d6e4e5;
}
.rowheader{
    border-collapse: collapse;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
}

.info{
    display: inline-block;
    width: 12%;
}
.doctors{
    border-collapse: collapse;
    padding: 10px;
    margin: 10px auto;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    background-color: rgba(241, 232, 196, 0.15);
    border-radius: 15px;
    border: 2px solid #dc7474;
}

