<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/form.css">
</head>
<body>
<div id="page">
<div th:replace="fragments.html :: logo"></div>
    <div th:replace="fragments.html :: menu"></div>
    <div id="content">
        <p th:if="${info}" th:text="${info}" class="error"></p>
        <h3>Twój profil</h3>
        <div class="photo-profile">
            <img th:src="@{/images/blob.png}" width="140px" height="140px">
        </div>
        <div class="account-info">
            <p style="font-weight: bold" th:text="${patient.name} + ' ' + ${patient.surname} + ' ' + '(' + ${user.role} + ')'"></p>
            <p th:text="'Numer telefonu: ' + ${patient.phone}"></p>
            <p th:text="'Data urodzenia: ' + ${patient.dateOfBirth}"></p>
            <p th:text="'PESEL: ' + ${patient.PESEL}"></p>
        </div>
        <p>
            <a th:if="${role == 'Pacjent'}" th:href="@{/patient/editdata/{patientId}(patientId=${patient.patientId})}" class="edit-button">Edytuj swoje dane</a>
            <a th:if="${role == 'Pacjent'}" th:href="@{/changephoto/{userId}(userId=${user.userId})}" class="edit-button">Zmień zdjęcie</a>
        </p>
        <h2>Zmień hasło do konta</h2>
        <div id="form">
            <form method="post" id="edit-form">
                <label>Aktualne hasło: </label>
                <input type="password" th:field="*{changePasswordModel.oldPass}" placeholder="Stare hasło">
                <label>Nowe hasło: </label>
                <input type="password" th:field="*{changePasswordModel.newPass}" placeholder="Nowe hasło">
                <label>Powtórz nowe hasło: </label>
                <input type="password" th:field="*{changePasswordModel.confirmPass}" placeholder="Powtórz nowe hasło">
                <input type="submit" value="Zmień hasło">
                <input type="button" onclick="history.back();" value="Wróć">
            </form>
        </div>
    </div>
</div>
</body>
</html>