li a{
    color: #fcfcfc;
    cursor: pointer;
    display: inline-block;
    font-size: 1.7rem;
    padding: 8px 8px 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
a:hover, a:active {
    background-color: green;
    color: white;
}

.edit-button{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 13px 15px 11px;
    font-weight: 500;
    background-color: #157fda;
    color: #fcfcfc;
}

ol, ul, li {
    list-style: none;
}

ul li{
    display:inline;
}


