.row {
    border-collapse: collapse;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
}
.row:nth-child(2n){
    background: #d6e4e5;
}
.rowheader{
    border-collapse: collapse;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
}

.info{
    display: inline-block;
    width: 12%;
}
.doctors{
    border-collapse: collapse;
    width: 20%;
    padding: 10px;
    margin: 10px auto;
    margin-left: 10px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background-color: rgba(222, 231, 239, 0.19);
    border-radius: 10px;
    border: 1px solid #f5c4c4;
}

