.admin a:link, a:visited {
    background-color: #393636;
    color: #d2cbcb;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.admin a:hover, a:active {
    background-color: green;
    color: white;
}
.row {
    width: 95%;
    padding-top: 5px;
    margin: 10px auto;
    font-size: 16px;
}

.userinfo{
    display: inline-block;
    width: 20%;
}
.name{
    display: inline-block;
    width: 10%;
}
.surname{
    display: inline-block;
    width: 10%;
}
.phone{
    display: inline-block;
    width: 10%;
}
.id{
    display: inline-block;
    width: 5%;
}
.speciality{
    display: inline-block;
    width: 12%;
}
.dateOfBirth{
    display: inline-block;
    width: 15%;
}
.number{
    display: inline-block;
    width: 10%;
}