<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="page">
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <div id="form">
    <form method="post" id="edit-form" enctype="multipart/form-data">
        <p th:if="${info}" th:text="${info}" id="error"></p>
        <input type="file" th:field="*{changePhotoModel.newImage}">
        <input type="submit">
        <input type="button" onclick="history.back();" value="Wróć">
    </form>
    </div>
</div>
</div>
</body>
</html>