<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu"></div>
<div id="content">

    <th:block th:each="doctor : ${allDoctors}">
        <div class="doctors">
            <div class="photo-profile">
                <img th:src="@{/images/blob.png}" width="140px" height="140px">
            </div>
        <div class="account-info">
            <h2 th:text="'dr ' + ${doctor.name} + ' ' + ${doctor.surname}"></h2>
            <h3 th:text="${doctor.speciality.specialityName}"></h3>
            <h3 th:text="'Telefon: ' + ' ' + ${doctor.phone}"></h3>
            <p><a th:if="${isLogged}" th:href="@{/doctor/schedule/{doctorId}(doctorId=${doctor.doctorId})}" class="edit-button">Pokaż harmonogram pracy</a></p>
            <p><a th:if="${role == 'Pacjent'}" th:href="@{/patient/doctorConfirm/{doctorId}(doctorId=${doctor.doctorId})}" class="edit-button">Zapisz się do lekarza</a></p>
        </div>
        </div>
    </th:block>
</div>
</div>
</body>
</html>