<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu">
    <ul>
        <li><a href="/panel" class="menu-button" th:if="${role == 'ADMIN'}" style="color:red;">Panel admina</a></li>
        <li><a href="/logout" class="menu-button" th:if="${isLogged}">Wyloguj</a></li>
        <li> <a href="/admin_patients">Przeglądaj pacjentów</a></li>
        <li> <a href="/admin_doctors">Przeglądaj lekarzy</a></li>
        <li> <a href="/admin_specialities">Przeglądaj specjalizacje</a></li>
        <li> <a href="/admin_addpatient">Dodaj nowego pacjenta</a></li>
        <li> <a href="/admin_adddoctor">Dodaj nowego lekarza</a></li>
        <li> <a href="/admin_addspeciality">Dodaj nową specjalizację</a></li>
    </ul>
</div>

<div id="content">
</div>
    <div id="footer" th:replace="fragments.html :: footer" ></div>
</div>
</body>
</html>