<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu"></div>
</div>


<div id="content">
    <div class="admin">
        <div class="row header">
            <div class="name">Imię</div>
            <div class="surname">Nazwisko</div>
            <div class="phone">Numer telefonu</div>
            <div class="speciality">Specjalizacja</div>
        </div>
        <th:block th:each="doctors : ${patientDoctors}">
            <div class="row">
                <div class="name" th:text="${doctors.doctor.name}"></div>
                <div class="surname" th:text="${doctors.doctor.surname}"></div>
                <div class="phone" th:text="${doctors.doctor.phone}"></div>
                <div class="speciality" th:text="${doctors.doctor.speciality}"></div>
                <a th:if="${isLogged}" th:href="@{/currentdoctorschedule/{doctorId}(doctorId=${doctors.doctor.doctorId})}" class="edit-button">Pokaż harmonogram pracy</a>
                <a th:if="${isLogged}" th:href="@{/currentdoctorschedule/{doctorId}(doctorId=${doctors.doctor.doctorId})}" class="edit-button">Pokaż dostępne terminy wizyt</a>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>