<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu" ></div>
<div id="content">
    <div class="doctors" style="margin-left:5%; width: 40%">
        <h3>
            Przeglądaj listę aktualnych wizyt
        </h3>
        <p><a class="edit-button" href="/patient_currentapp">Zaplanowane wizyty</a></p>
    </div>
    <div class="doctors" style="margin-left:5%; width: 40%">
        <h3>
            Przeglądaj historię swoich wizyt
        </h3>
        <p><a class="edit-button" href="/patient_histapp">Historia wizyt</a></p>
    </div>
</div>
</div>
</body>
</html>