<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
    <link rel="stylesheet" href="/form.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu"></div>
<div id="content">
    <div id="form">
        <form action="#" method="post" id="edit-form">
            <h2 style="text-align: center">Opisz i zakończ wizytę</h2>
                <div contenteditable="true" th:field="${appDetail.description}" class="appdetail"></div>
            <input type="submit" value="Zakończ wizytę">
        </form>
    </div>
</div>
</div>
</body>
</html>