<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu"></div>
<div id="content">
    <div class="admin">
        <div class="rowheader">
            <div class="info">Dzień tygodnia</div>
            <div class="info">Godzina rozpoczęcia</div>
            <div class="info">Godzina zakończenia</div>
        </div>
        <th:block th:each="doctorSchedule : ${myschedule}">
            <div class="row">
            <div class="info" th:text="${doctorSchedule.dayOfWeek.nameOfWeek}"></div>
            <div class="info" th:text="${doctorSchedule.startOfWork}"></div>
            <div class="info" th:text="${doctorSchedule.endOfWork}"></div>
                <a th:if="${role == 'Lekarz'}"  th:href="@{/doctor/editDS/{doctorScheduleId}(doctorScheduleId=${doctorSchedule.doctorScheduleId})}" class="edit-button">Edytuj</a>
                <a th:if="${role == 'Lekarz'}"  th:href="@{/doctor/deleteDS/{doctorScheduleId}(doctorScheduleId=${doctorSchedule.doctorScheduleId})}" class="edit-button">Usuń</a>
            </div>
        </th:block>
        <a href="/doctor/addday" class="edit-button"/>Dodaj dzień</a>
    </div>
</div>
</div>
</body>
</html>