<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDoctor - twoja aplikacja do zarządzania wizytami u lekarza</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/panelA.css">
</head>
<body>
<div id="page">
<div id="logo" th:replace="fragments.html :: logo"></div>
<div id="menu" th:replace="fragments.html :: menu"></div>
<div id="content">
    <p th:if="${info}" th:text="${info}" class="error"></p>
    <div class="admin">
        <div class="rowheader">
            <div class="info">Imię</div>
            <div class="info">Nazwisko</div>
            <div class="info">Data urodzenia</div>
            <div class="info">PESEL</div>
        </div>
        <th:block th:each="patients : ${patientsList}">
            <div class="row">
                <div class="info" th:text="${patients.patient.name}"></div>
                <div class="info" th:text="${patients.patient.surname}"></div>
                <div class="info" th:text="${patients.patient.dateOfBirth}"></div>
                <div class="info" th:text="${patients.patient.PESEL}"></div>
                <a th:if="${role == 'Lekarz'}" th:href="@{/doctor/patientcurrent/{patientId}(patientId=${patients.patient.patientId})}" class="edit-button">Pokaż zaplanowane wizyty</a>
                <a th:if="${role == 'Lekarz'}" th:href="@{/doctor/patienthist/{patientId}(patientId=${patients.patient.patientId})}" class="edit-button">Pokaż historię wizyt</a>
            </div>
        </th:block>
    </div>
</div>
</div>
</body>
</html>